{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pet-view.css' %}">
<main>
  <a href="{% url 'user-pets' %}">View all pets</a>
    <article class="pet">
      <h2>About <i>{{ pet.name }},</i> the {{ pet.variant.name }} {{ pet.species.name }}</h2>
      <img class="pet-image" src="{% static 'images/pets/' %}{{ pet.species.name }}/{{ pet.variant.name }}.png">
    </article>

    <section class="stats">
      <article class="info">
        <p>Age: Since the dawn of time</p>
        <p>Gender: {{ gender }}</p>
      </article>
      <h2>Stats:</h2>
      <p>Attack: {{ stats.attack }}</p>
      <p>Defense: {{ stats.defense }}</p>
      <p>Hitpoints: {{ stats.hitpoints }}</p>
      <p>Energy: {{ stats.energy }}</p>
      <h2>Skills:</h2>
      <ul>
      {% for skill in skills %}
      <li>{{ skill.name }}</li>
      {% endfor %}
      </ul>
    </section>
    <article class="description">
        <i>{{ pet.description }}</i>
    </article>
</main>

{% endblock content %}
