@font-face {
  font-family: riffic;
  src: url("../css/fonts/riffic-bold-webfont.woff");
}

@font-face {
  font-family: calluna;
  src: url("../css/fonts/callunasansregular.woff");
}

body {
	background: linear-gradient(180deg, #86CFA3 0%, rgba(255, 255, 255, 0) 100%), #B9E5D5;
  background-attachment: fixed;
	font-family: calluna;
}

#head{
    background-color: #FCD1B5;
}

#head, nav, header, main{
  width: min(100%, 1000px);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

header{
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

nav{
  background-color: rgba(240, 241, 230, 0.5);
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  text-align: center;
}

nav a{
  font-family: riffic;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  color: #C347D2;
}

.header-decor{
  height: 4em;
  width: 4em;
}

main{
  background-color: rgba(240, 241, 230, 0.5);
  place-content: center;
}

h1 {
	font-family: riffic;
	font-size: min(9vw, 50px);
	text-decoration: none;
}

header a, a:visited, nav a{
	text-decoration: none;
	color: #000;
}

header a:hover, nav a:hover {
  color: #C347D2;
}
