body {
	background-color: #deF;
}

.egg-button{
	width: max(25%, 200px);
}

p{
	padding-top: 16px;
}

.options{
	display: flex;
	width: 100%;
	text-align: center;
	flex-flow: column nowrap;
	align-content: center;
	justify-content: space-evenly;
}

.options a, a:visited{
	font-family: riffic;
	font-size: 2rem;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.options a:hover{
	color: #C347D2;
}
