main{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.pet-image{
  position: relative;
  width: auto;
  height: 20em;
  z-index: 2;
}

.stats{
  padding:16px;
}

h2{
  position: relative;
  z-index: 1;
}

a{
  position: relative;
  padding: 10px;
  margin: 10px;
}

#clear2{
  position: relative;
  height: 200px;
  width: 100%;
}

.description{
  width: 80%;
  padding: 16px;
}
