{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user-pets.css' %}">

<main>
  <h2>{{current_profile.friendlyName}}'s profile</h2>
  <h3>About:</h3>
  <p>{{current_profile.bio}}</p>
  <h3>Territory:</h3>
  <p>{{current_profile.friendlyName}}'s territory can host {{current_profile.petLimit}} pets</p>
    <h2>{{current_profile.friendlyName}}'s pets:</h2>
  <section class="rect-pet">
    {% for pet in pets %}
    <section class="pet">
      <a href="{% url 'view-pet' pet_id=pet.id %}">
      <img class="pet-image" src="{% static 'images/pets/' %}{{ pet.species.name }}/{{ pet.variant.name }}.png">
      <h3 class="pet-name">{{ pet.name }}</h3>
      </a>
    </section>
    {% endfor %}
  </section>
</main>
{% endblock content %}
