<!-- templates/base.html -->
<!DOCTYPE html>

{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Viv Odyssey{% endblock %}</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="https://f000.backblazeb2.com/b2api/v1/b2_download_file_by_id?fileId=4_ze8a99d2b1cbcc558746e0011_f1144a0b14f16014d_d20210103_m195217_c000_v0001076_t0025">

  <main>
  <div align=center>
  <h1><a href="{% url 'home' %}">Viv Odyssey</a></h1>
    {% block content %}
    {% endblock %} 
  </div>
  </main>
	
</body>
</html>
