<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div align=center>
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
 </div>
{% else %}
<div align=center>
  <p>You are not logged in</p>
  <p>
  <a href="{% url 'login' %}"><img src="{% static 'images/eggs/mosaic.png' %}" alt="log in" width="15%"></a>
  <a href="{% url 'signup' %}"><img src="{% static 'images/eggs/canyon.png' %}" alt="log in" width="15%"></a>
  </p>
</div>
{% endif %}
{% endblock %}