{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid">
	<form method="post" id="answer-form">
		<div class="row">
			{% csrf_token %}
			<div class="form-group col-4">
				<h2><label class="col-12">{{ question.title }}</label></h2>
				<p>
				{{ question.text }}
				</p>
				<p>
					<a href={% url "answers" %}>View answers you've given</a>
				</p>
				{% for field in form %}
				<p>
					{{ field }}
				</p>
				{% endfor %}
			</div>
			
			<div class = "col text-center">
			<input type="submit" class="btn" value="Answer Question" />
		</div>
	</form>
</div>
<hr />

<div class="container-fluid">
	<table class="questionTable" id="all_questions">
	</table>
</div>
<script type="text/javascript" src="{% static "answerform.js" %}">
{% endblock content %}
	