{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid">
	<form id="question-form">
		<div class="row">
			{% csrf_token %}
			{% for field in form %}
			<div class="form-group col-4">
				<label class="col-12">{{ field.label }}</label>
				{{ field }}
			</div>
			{% endfor %}
			
			<div class = "col text-center">
			<input type="submit" class="btn btn-primary" value="Create Question" />
		</div>
	</form>
</div>
<hr />

<div class="container-fluid">
	<table class="questionTable" id="all_questions">
	</table>
</div>
<script type="text/javascript" src="{% static "moderationform.js" %}">
{% endblock content %}