.rect{
  position: relative;
  z-index: -1;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0);
}

.pet-image{
  position: relative;
  width: auto;
  height: 20em;
  z-index: 2;
}

.info{
  position: absolute;
  width: 50%;
  top: 25em;
  left: 2em;
  margin-right: 50%;
}

.stats{
  position: absolute;
  width: 40%;
  top: 3em;
  margin-left: 60%;
  right: 0;
}

h2{
  position: relative;
  z-index: 1;
}

a{
  position: relative;
  padding: 10px;
  margin: 10px;
}

#clear2{
  position: relative;
  height: 200px;
  width: 100%;
}
