.pet-image{
  width: 80%;
}

.pet-border{
  position: absolute;
  top: -.1em;
  left: -.1em;
  width: 98%;
  padding-top: 98%;
  height: 0%;
  border-style: solid;
  border-width: .2em;
  border-bottom-width: 2em;
  border-image-source: linear-gradient(140deg, rgba(155, 125, 125, .5), #511, black);
  border-image-slice: 1;
  z-index: 3;
  box-shadow: 5px 10px 2px rgba(011, 011, 011, .5);
  background-color: rgba(255, 255, 255, .2);
}
